<div class="well">
  <div class="text-right">
    <%= link_to 'New Photo', new_photo_path, class: 'btn btn-default' %>
  </div>
</div>

<div class="text-center">
  <%= paginate @photos %>
  <p>
    <%= page_entries_info @photos %>
  </p>
</div>



<% @photos.each do |photo| %>

  <div class="col-xs-6">
    <%= link_to photo_path(id: photo.id) do %>
      <%= image_tag attachment_url(photo, :image, :fill, 400, 400, format: "jpg") %>
      <% end %>

    <%= link_to like_photo_path(id: photo.id), method: :post, class: 'btn btn-default'  do %>
      <i class="glyphicon glyphicon-thumbs-up"></i>
      <%= pluralize photo.view_count, 'like' %>
    <% end %>


  </div>

<% end %>
